* {
  --border-radius: 120px;
}

body {
  margin: 0;
}

.card {
  margin: 50px;
  position: fixed;
  left: 0;
  top: 0;
}

.card .content {
  width: 350px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.card .glass {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  border-bottom: solid rgba(255, 255, 255, 0.4) 1px;
  border-top: solid rgba(255, 255, 255, 0.3) 1px;
  outline-offset: -10px;
  box-sizing: border-box;
  position: relative;
  background: rgba(255, 255, 255, 0.03);
  outline: 10px ridge rgba(255, 255, 255, 0.18);
}

.card .effect {
  position: absolute;
  border-radius: var(--border-radius);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3.5px) contrast(120%) saturate(140%);
}

#in-x {
  position: fixed;
  top: 0;
  left: 0;
}

#in-y {
  position: fixed;
  top: 0;
  left: 0;
  transform: rotate(90deg) translate(80px, 50px);
}

.images {
  display: flex;
}

.images img {
  flex: 1;
  width: 400px;
}
